





                <div class="banner">

                </div>
               <div id="scarp">
                <%= render "quote" %>
                  <div class="fl">
                      <a href="/home/services" class="learn_more">
                      <small>learn more about our services</small>
                      <span></span>
                      </a>

                  </div>

                </div>
                  <div class="social_media">

                      <div id="social-icons">
              <h3>Conect Socially With Revol-Tech Nepal </h3>
              <div class="social_links">
                    <div class="social_box">
                        <a class="facebook" href="http://www.facebook.com/pages/Revol-Tech-Nepal/233701270029361"" TARGET="_blank"">
                             <%= image_tag "facebook.png" %>
                        </a>
                    </div>
              </div>
               <div class="social_links">
                    <div class="social_box">
                        <a class="twitter" data-show-count="false" href="https://twitter.com/RevolTech2" TARGET="_blank">
                   <%= image_tag "twitter.png" %>
                        </a>
                    </div>
              </div>
               <div class="social_links">
                    <div class="social_box">
<a class="rss" data-show-count="false" href="#">
 <%= image_tag "rss.png" %>
</a>
                    </div>
              </div>

</div>

                  </div>
                <%= render "lowercontent"%>
