
     <div id="header"> <div id="navigation">
           <%= render "home/top_links"%>
      </div><!--end of navigation-->
      </div>

<div id="main_wrapper">

      <div class="container">
            <div id="wrapper">
                <%= render "slider"%>
                <hr class="stars">
                <%= render "quote" %>
                <%= render "lowercontent"%>
           </div> <!--end of wrapper-->
      </div> <!--end of container-->
      <div id="footer">
           <%= render "home/footer"%>
      </div>

  </div> <!--end of main_wrapper-->
