

<div id="service_wrapper">
    <div class="title">
        <p class="service_text">Our Services</p>
    </div><!--end of service_text-->
    <div id="service_intro">

          <p>From start to finish our process is unique and personalized to match our client's
             objectives and   continued success.</p>
    </div><!--end of service_intro-->
    <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails Outsourcing</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
 <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
 <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
 <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails Outsourcing</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
 <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails Outsourcing</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
 <div class="service">
			   <div class="service_content">
            <div class="service_text">
								<p> Ruby On Rails Outsourcing</p>
					  </div>		<!--end of upper_image-->
						<div class="service_image">
                <%= image_tag "" %>
            </div>	<!--end of content_image-->
					  <div class="service_text">
									   <p>We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.We believe that children belong and thrive in a family-environment. All our projects seek to provide orphans with loving family-style care. Helping and loving these abandoned and vurnerable children is our duty.</p>

             </div> <!--end of service_text-->
          </div>	 <!--end of service_content-->
 </div><!--end of service-->
</div> <!--end of service_wrapper-->   
